.gradient-text{
    -webkit-animation: glow 2s ease-in-out infinite alternate;
  -moz-animation: glow 2s ease-in-out infinite alternate;
  animation: glow 2s ease-in-out infinite alternate;
}
@keyframes glow {
    from {
      text-shadow: 0 0 5px #f4cc05af, 0 0 5px #f4cc05af, 0 0 5px #f4cc05af;
    }
    to {
      text-shadow: 0 0 5px #f4cc05af, 0 0 5px #f4cc05af, 0 0 6px #f4cc05af;
  }
  }

.contact-container{
    margin-bottom: 12vh;
    padding-top: 0px;
    /* padding-left: 70px; */
    /* padding: 42px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 75vh;
}

.contact-end{
    width: 35vw;
    margin-right:-60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.contact-end-title h2{
    margin-top: 8vh;
    font-weight: 600;
    color:white;
    font-size: 3.5vw;
    margin-bottom: 3.5vh;
    text-align: center;
    width: 100%;
}

.contact-inputs{
    width: 60%;
    height: 50px;
    border: none;
    outline: none;
    padding-left: 25px;
    font-weight: bold;
    color: rgb(6, 6, 6);
    background-color: black;  
}

.contact-end textarea{
    height: 100px;
    padding-top: 15px;
}
    
.contact-inputs{
    background-color: rgba(245, 245, 245, 0.961);
    border-radius: 8px;
    color: rgb(0, 0, 0);
} 
.contact-inputs::placeholder{
    color : rgba(0, 0, 0, 0.678);
    font-weight:bold;
}
    
.contact-end button{
    display: flex;
    align-items: center;
    padding: 3px 5px;
    font-size: 14px;
    color: #fff;
    gap: 10px;
    border: 1.8px solid #fff;
    background: transparent;
    cursor: pointer;
}

.contact-end button img{
    height : 15px;
}

@media(max-width: 768px){

    .contact-end-title h2{
        font-size: 7vw;
    }

}

.verification{
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    color: white;
}

.head-contact{
    margin-top: 1.5vw;
    display: block;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    
}

.submit-button {
	display: inline-block;
	padding: 5px 0;
	text-align: center;
	cursor: pointer;
	overflow: hidden;
	text-transform: uppercase;
	font-weight: 900;
    border-radius: 5px;
	position: relative;
	margin: 5px 5px 0 5px;
}



.submit-button::before {
	content: " ";
	display: block;
	width: 250px;
	height: 250px;
	position: absolute;
	top: 40%;
	left: -100px;
	background: #faf8f8;
	z-index: -10;
	transform: scale(0);
    transition: color 0.5s ease;

	-webkit-transition: 0.2s ease-in-out transform;
	-o-transition: 0.2s ease-in-out transform;
	-ms-transition: 0.2s ease-in-out transform;
	-moz-transition: 0.2s ease-in-out transform;
	transition: 0.2s ease-in-out transform;
}

.submit-button:hover {
    font-weight: 900;
    color: black;
}

.submit-button:hover::before {
	transform: scale(1.5);
    font-weight: 900;
}

.submit-button{
    width: fit-content;
    height: auto;
}


input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.head-contact h4 {
    transition: font-size 0.3s ease; 
  }
  
  .head-contact h4:hover {
    font-size: 1.8rem; 
  }

.contact-grid{
    margin-right: -7vw;
    display: grid;
    grid-template-columns: 1.5fr 1fr 2fr;
}

.contact-start{
    margin-top: -20px;
    margin-left: 40px;
    
    display: flex;
    flex-direction: column;
    /* align-items: space-between; */
    /* justify-content: start; */
}

.icon{
    color: rgb(254, 251, 251);
    font-size: 25px;
    margin: 5px;
    width: fit-content;
    -webkit-animation: glow 2s ease-in-out infinite alternate;
  -moz-animation: glow 2s ease-in-out infinite alternate;
  animation: glow 2s ease-in-out infinite alternate;
}
@keyframes glow {
    from {
      text-shadow: 0 0 3px #f3edcdaf, 0 0 3px #f3edcdaf, 0 0 3px #f3edcdaf;
    }
    to {
      text-shadow: 0 0 3px #f3edcdaf, 0 0 3px #f3edcdaf, 0 0 4px #f3edcdaf;
  }
  }

  .icon:hover{
    font-size: 22px;
  }

.icon img{
    padding: 8px;
    border-radius: 50%;
    background-color: rgba(245, 245, 245, 0.868);
    color: rgb(0, 0, 0);
    margin: 24px;
}
 
.detail{
    font-size: 17px;
    margin-left: 92px;
    margin-top: -32px;
    color: white;

}

.combo{
    display: flex;
    justify-content: space-between;
    align-items: space-between;
    width: 80%;

}

.contact-middle{
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    aspect-ratio: 1/1;
}

@media screen and (max-width: 1024px){

.contact-container{
    padding-top: 20px;
    padding-left: 0px;
    margin-left: 0;
}
    .contact-start-content{
            text-align: center;
    }

    .contact-end-title h2{
        margin-left: 2vh;
        margin-bottom: -3vh;
    }

    .detail{
        margin: 0vh;
    }

    .icon img{
        margin: 1vh;
    }
    
     .icon { 
        width: auto;
        margin-left: -2vh; 
    } 
    .contact-grid{
        margin-top: 20px;
        margin-right: 30px;
        display: flex;
        flex-direction: column;
        gap: 24px;
        width: 90vw;
        align-items: center; 
    }
    .contact-inputs{
        width: 100%;
    }

    .contact-start{
        align-items: center; 
        width: fit-content;
    }

    .contact-end{
        margin-right: 3px;
        width: 50%;
        margin-top: 2vh;
    }

    .contact-middle{
        height: 40vh;
        width: 50%;
    }
    
}
@media screen and (max-width: 768px){
    .contact-end-title h2{
        margin-left: 0.8vh;
    }
}

@media screen  and (max-width: 480px){
    .contact-middle, .contact-start, .contact-end{
        width: 90%;
    }
    
}
