.project-heading {
    width: 100vw;
    height: 100vh;
    background-image: url(../../../public/assets/images/project_images/Bg.jpg);
    aspect-ratio: 16/9;
    background-repeat: no-repeat;
    background-size: cover; /* Ensure the image covers the entire area */
    background-position: center; /* Center the image */
    display: flex;
    justify-content: right;
    padding-top: 5vw;
    padding-right: 5vw;
    font-size: 72px;
    color: rgb(7, 0, 0);
    text-align: right;
    font-weight: bolder;
    border-bottom: 2px solid #040005a2;
    -webkit-animation: glow3 2s ease-in-out infinite alternate;
    -moz-animation: glow3 2s ease-in-out infinite alternate;
    animation: glow3 2s ease-in-out infinite alternate;
    mix-blend-mode: difference;
}
@keyframes glow3 {
    from {
      text-shadow: 0 0 2px #d4e9f560, 0 0 2px #d4e9f560, 0 0 2px #d4e9f560;
    }
    to {
      text-shadow: 0 0 2px #d4e9f560, 0 0 2px #d4e9f560, 0 0 3px #d4e9f560;
  }
  }

  .orbital-endeavers{
    margin-left: 600vw;
    font-family: 'Nulshock Bd';
  }

.project-container {
    margin: 4vw;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto);
    gap: 0px; /* Adjust the gap between grid items as needed */
}

.project-card {
    margin-top: 2vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.project-image {
    width: 80%;
    height: auto;
    border-radius: 8px;
}

.project-title, .project-author {
    margin-top: 10px;
    font-size: 1.8vw;
    font-weight: bold;
    font-family: 'Nulshock Bd';
    color: white;
}

.project-button {
    margin-top: 10px;
    padding: 10px 20px;
    color: white;
    border: 2px solid white;
    border-radius: 4px;
    cursor: pointer;
    background: transparent;
}

.project-button:hover {
    background-color: white;
    color: black;
    transition: all 0.5s ease;
    font-weight: bold;
}

.project-heading .box{
    position: absolute;
    top: 50%;
    left: 50%;
}


@media screen and (max-width: 768px) {
    .project-heading {
        font-size: 48px;
    }
    .orbital-endeavers {
        margin-top: 10vw;
    }

    .project-container {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, auto);
    }
    .project-author, .project-title {
        font-size: 3.8vw;
    }
    
}

@media  screen and (max-width: 480px) {
    .project-heading {
        font-size: 40px;
    }
    .orbital-endeavers {
        margin-top: 10vw;
    }
    
    .project-title, .project-author {
        font-size: 14.7px;
    }
    
    .project-button {
        padding: 8px 16px;
    }
    
}

@keyframes bounce {
	0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
	40% {
    transform: translateY(-30px);
  }
	60% {
    transform: translateY(-15px);
  }
}

.middle, .go-here {
  position: relative;
  height: 30em;
}
.fa-circle { color: #cddc39; }
.arrow-down { 
  color: white; 
  .fa-stack {
      animation: bounce 2s infinite;
    &:hover {
      animation: none; 
    }
  }
}
